* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'IBM Plex Sans', sans-serif;
    line-height: 1.5;
    font-size: 1.6rem;
    text-rendering: optimizeSpeed;
}
